<div>
    <section>
        <div class="row text-center">
            <div class="col-lg-12">

                <!--activity image-->
                <img class="img-responsive" src="img/image-home-2.jpg" alt="Project header">

                <!--activity title -->
                <h1>hello i'm a freelance web designer</h1>
                <h1 class="spacer">___</h1>

                <!--activity descritpion-->
                <p class="work">Living in Los-Angeles</p>
                <p>Illud autem non dubitatur quod cum esset aliquando virtutum omnium domicilium Roma, ingenuos advenas plerique nobilium, ut Homerici bacarum suavitate Lotophagi, humanitatis multiformibus officiis retentabant , humanitatis multiformibus officiis retentabant.</p>

            </div>
        </div>
    </section>
</div>